# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
# multiplication
100.25*1

# division
100.25/1

# exponent
100.25**1

# addition
100.25+0

# subtraction
100.25-0

# combined
((100.25*1)/1)**1+0-0

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [2]:
# Equation 1 answer: 4 * 11 = 44
print('4*(6+5) :', 4*(6+5))

# Equation 2 answer: 24 + 5 = 29
print('4*6+5 :', 4*6+5)

# Equation 3 answer: 4 + 30 = 34
print('4+6*5 :', 4+6*5)

# Reasoning: mathemitcal rules (BODMAS) follow that [()] go first, than [^], [/ and *] lastly [+ and -]

4*(6+5) : 44
4*6+5 : 29
4+6*5 : 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [3]:
# Not sure why there was no answer box for this question
# Answer: float type

# Verify float:
print('the type of (3 + 1.5 + 4):', type(3 + 1.5 + 4))

# Reasoning: 3 + 1.5 + 4 results in 8.5; meaning there is a decimal point, so this should be a float type. If it would be a full number it would be an integer datatype

the type of (3 + 1.5 + 4): <class 'float'>

What would you use to find a numberâ€™s square root, as well as its square?

In [4]:
# Square root answer:
9**(1/2)
# Reasoning: in math, a 'nth root' is equal to the exponential value of '1/n'

3.0

In [5]:
# Square answer:
3**2
# Reasoning: in math exponential value of 2 is the square of a number

9

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [6]:
s = 'hello'
# Print out 'e' using indexing

# Answer:
print(s[1])
# Reasoning: indexation starts at zero, so the second letter is equal to index 1

e

Reverse the string 'hello' using slicing:

In [7]:
s ='hello'
# Reverse the string using slicing

# Answer:
print(s[::-1])
# Reasoning: arithmetic is [start:stop:step]. So by making the step negative, the string is reversed

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [8]:
s ='hello'
# Print out the 'o'

# Method 1 answer:
print('Method 1:', s[-1])

# Reasoning: index -1 is the last index character number of the string

Method 1: o

In [33]:
s ='hello'
# Print out the 'o'

# Method 2 answer:
print('Method 2:', s[4:])

# Extra:
print('Method 3, if there would be more letters:', s[4::1])
# Using 1 step assures that we will get the 5th (not 4th!) letter and not any more
print('Method 4, another, more robust solution:', s[(len(s)-1)::1])
# Method 4 would not make sense to be applied though, as -1 makes more sense than using len

Method 2: o
Method 3, if there would be more letters: o
Method 4, another, more robust solution: o

## Lists

Build this list [0,0,0] two separate ways.

In [10]:
# Method 1 answer:
mylist = [0,0,0]
mylist

[0, 0, 0]

In [11]:
# Method 2 answer:
mylist = [0]*3
mylist

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [12]:
list3 = [1,2,[3,4,'hello']]
# Hello to goobye

# Answer:
list3[2][2]='Goodbye'
list3
# Reasoning: we use indexing to locate the items in a list, as a list item can contain another list, we have two levels of indexation

[1, 2, [3, 4, 'Goodbye']]

Sort the list below:

In [13]:
list4 = [5,3,4,6,1]
# Sort the list

# Answer:
list4.sort()
print(list4)
# Reasoning: sorting is an in-place method, no reassignment required

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [14]:
d = {'simple_key':'hello'}
# Grab 'hello'

# Answer:
d['simple_key']
# Reasoning: we get the value by using the key

'hello'

In [15]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

# Answer:
d['k1']['k2']
# Reasoning: This is a nested dictionary, so we use the nested keys

'hello'

In [16]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
# Grab 'hello'

# Answer:
d['k1'][0]['nest_key'][1][0]
# Reasoning: Nested dict, in this case multiple datatypes thus different type of calls combined

'hello'

In [17]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
# Grab 'hello'

# Answer:
d['k1'][2]['k2'][1]['tough'][2][0]
# Reasoning: Nested dict, in this case multiple datatypes thus different type of calls combined

'hello'

Can you sort a dictionary? Why or why not?<br><br>

In [18]:
# Answer: No, a dictionary is unsorted and uses key value

## Tuples

What is the major difference between tuples and lists?<br><br>

In [19]:
# Answer: Tuples are immutable, lists can be changed

How do you create a tuple?<br><br>

In [20]:
# Answer: 
my_tuple = ()
my_tuple

()

## Sets

What is unique about a set?<br><br>

In [21]:
# Answer: a set only contains unique values

Use a set to find the unique values of the list below:

In [22]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

# Answer:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [23]:
# Answer before running cell
2 > 3 

# Answer: false

False

In [24]:
# Answer before running cell
3 <= 2

# Answer: false

False

In [25]:
# Answer before running cell
3 == 2.0 

# Answer: False

False

In [26]:
# Answer before running cell
3.0 == 3 

# Answer: True

True

In [27]:
# Answer before running cell
4**0.5 != 2 

# Answer: False

False

Final Question: What is the boolean output of the cell block below?

In [28]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1'] 

# Answer: False

# Reasoning:
# l_one[2][0] # refers to value 3
# l_two[2]['k1'] # refers to value 4
# 3 is not bigger or equal to 4

False

In [29]:
## Great Job on your first assessment!